<section id="hero" style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);">
    
            <div class="" >
                <div class="container" style="height: 500px;background-color: rgb(153, 204, 255);border-style: outset;border-color: black;">
                    <h2>Mindtree <span>Hospital Management System</span></h2>
                    <p><b>Welcome to Mindree hospital system, It is an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.

                        To better serve the wide-ranging needs of the community, the modern hospital has often developed outpatient facilities, as well as emergency, psychiatric, and rehabilitation services. In addition, “bedless hospitals” provide strictly ambulatory (outpatient) care and day surgery. Patients arrive at the facility for short appointments. They may also stay for treatment in surgical or medical units for part of a day or for a full day, after which they are discharged for follow-up by a primary care health provider.
                        
                       </b> </p>
                    <p><b>Mindtree Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of services for acute and complex conditions. They concentrate scarce resources within well-planned referral networks to respond efficiently to population health needs. They are an essential element of Universal Health Coverage (UHC) and will be critical to meeting the Sustainable Development Goals (SDG).</b></p>
                <p><b>Mindtree Hospitals matter to people and often mark central points in their lives. They also matter to health systems by being instrumental for care coordination and integration. They often provide a setting for education of doctors, nurses and other health-care professionals and are a critical base for clinical research.</b></p>
                </div>
            </div>
</section>